.breadcrumb {
    display: flex;
    margin-top: 16px;

    &__item {
        margin-right: 19px;
        position: relative;

        &::after {
            font-family: "Muller";
            font-weight: 300;
            font-size: 12px;
            line-height: 12px;
            position: absolute;
            content: "/";
            color: #000000;
            opacity: 0.5;
            right: -10px;
            top: 4px;
        }

        &:last-child {
            margin-right: 0;
            &::after {
                display: none;
            }
        }

        @media (max-width:575px) {

         
        }
    }

    &__link {
        font-family: "Muller";
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.035em;
        color: rgba(0, 0, 0, 0.5);
    }

    @media (max-width: 575px) {
        display: none;
    }
}
