.item-card {
    &__price-wrap {
        display: flex;
        align-items: baseline;
        @media (max-width: 523px) {
            margin-top: 20px;
        }
    }

    &__price {
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-family: "Muller";

        font-weight: 300;
        font-size: 1;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: #000000;
        margin-right: 20px;
        @media (max-width: 1024px) {
            margin-right: 0;
        }

        @media (max-width: 523px) {
            font-weight: 300;
            font-size: 12px;
            line-height: 12px;
            /* identical to box height */

            letter-spacing: 0.035em;
            text-transform: uppercase;
        }
    }

    &__price.old-price {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: line-through;
        margin-right: 20px;
        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__icon {
        display: inline-block;
        width: 1em;
     
        flex-shrink: 0;
        height: 1em;
    }

    &__price-btn-text {
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        display: none;
        font-family: "Muller";

        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        /* identical to box height */

        letter-spacing: 0.035em;
        text-transform: uppercase;

        
    }

    &__price.old-price {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: line-through;
        margin-right: 20px;
        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__icon {
        display: inline-block;
        width: 13px;
        flex-shrink: 0;
        height: 13px;
    }

    &__item-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        order: 1;
        margin-top: 10px;
        min-height: 14px;
        @media (max-width: 575px) {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
        }
    }

    &__item-icons {
        position: absolute;
        right: 10px;
        display: flex;
        width: 50px;
        justify-content: space-between;
        margin-right: 10px;
        align-items: baseline;
        @media (max-width: 1200px) and (min-width: 768px) {
            align-items: center;
        }
        @media (max-width: 523px) {
            justify-content: flex-end;
        }
    }

    &__item-sale {
        margin-left: 10px;
        font-family: "Muller";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: 0.035em;
        margin-left: 10px;
        color: #bb559d;
        @media (max-width: 1023px) {
            display: none;
        }
    }
    &__item-new {
        font-family: "Muller";
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;

        letter-spacing: 0.035em;

        color: #bb559d;
        display: none;
        margin-left: 10px;
    }

    &__item-icon-watch {
        @media (max-width: 523px) {
            display: none;
        }
    }

    &__item-image-wrapper {
        width: 270px;
        height: 270px;
        margin: 0 auto;
        margin-top: 23px;
        order: 2;
        @media (max-width: 1023px) {
            margin-top: 12px;
        }

        @media (max-width: 768px) {
            width: 228px;
            height: 228px;
        }

        @media (max-width: 575px) {
            width: 262px;
            height: 262px;
        }

        @media (max-width: 523px) {
            max-width: 149px;
            height: 142px;
        }
    }

    &__item-title {
        justify-content: center;
        display: block;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        display: flex;
        letter-spacing: 0.035em;
        margin-top: 17px;
        order: 3;

        @media (max-width: 768px) {
            margin-top: 11px;
        }
        @media (max-width: 575px) {
            margin-top: 1px;
        }

        @media (max-width: 523px) {
            display: none;
        }
    }

    &__item-info {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
        order: 4;
        @media (max-width: 523px) {
            display: none;
            margin-top: 3px;
        }
    }

    &__info-name {
        font-family: "Muller";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: rgba(0, 0, 0, 0.5);
        /* identical to box height */

        letter-spacing: 0.035em;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__item-price {
        margin-top: 30px;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: #000000;
        display: flex;
        width: 160px;
    }

    &__item {
        width: 337px;

        padding-top: 10px;
        padding-bottom: 20px;
        position: relative;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1023px) {
            & .item-card__item-sale {
                display: none;
            }

            &:hover .item-card__item-sale {
                display: block;
            }

        }

        @media (min-width: 576px) {
            &:hover .item-card__buy-btn .old-price {
                display: none;
            }

            &:hover .item-card__buy-btn {
                border-color: #000;
            }

            &:hover .item-card__price-btn-text {
                display: block;
                font-weight: 300;
            }

            &:hover .item-card__price {
                margin-right: 20px;
            }

       
            
        }

        @media (max-width: 1023px) and (min-width: 769px) {
            width: 311px;
            padding-bottom: 20px;
            &:hover .item-card__item-row .item-card__item-icons {
                justify-content: flex-end;
            }
            &:hover .item-card__item-row .item-card__item-icon-watch {
                display: none;
            }
        }



        @media (max-width: 768px) {
            width: 229px;
            &:active .item-card__item-sale {
                display: block;
            }
        }

        @media (max-width: 575px) {
            width: 272px;
            height: auto;
            padding-bottom: 20px;

            &:active .item-card__item-title {
                font-weight: 300;
            }

            &:active .item-card__buy-btn {
                border-color: #bb559d;
            }

            &:active .item-card__price-btn-text {
                color: #bb559d;
            }

            &:active .item-card__price-btn-text {
                display: block;
                color: #bb559d;
            }

            &:active .item-card__price {
                // display: block;
                color: #bb559d;
                margin-right: 20px;
            }

            &:active .item-card__buy-btn {
                // display: block;
                border: 1px solid #bb559d;
            }
        }

        @media (max-width: 523px) {
            width: 140px;
            height: 250px;

            & .item-card__buy-btn .old-price {
               
                margin-right: 5px;
                display: flex;
                align-items: center;
            }

            &:active .item-card__buy-btn .old-price {
               display: none;
            }

            & .item-card__item-sale {
                display: block;
            }
            &:active .item-card__price-btn-text {
                display: none;
            }
            &:active .item-card__price {
                margin-right: 0;
                font-size: 12px;
                width: 100%;
                color: #000;
            }

            &:active .item-card__item-info {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &:active .item-card__price-btn-text {
                display: block;
                width: 100%;

                font-weight: 300;
                font-size: 12px;
                line-height: 12px;
                text-decoration: underline;
                /* identical to box height */

                letter-spacing: 0.035em;
                text-transform: uppercase;
                margin-top: 10px;
                margin-right: 5px;
            }

            &:active .item-card__buy-btn {
                border-color: transparent;
                padding: 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: 0;
            }

            &:active .item-card__price-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &:hover {
            cursor: pointer;
        }

        &-icon-wishlist {
            width: 15px;
            height: 15px;
            background-image: url("./../img/svg/ic-wishlist.svg");
            background-size: cover;

            &:hover {
                background-image: url("./../img/svg/ic-wishlist-small-hover.svg");
            }
        }
    }

    &__buy-btn {
        width: 242px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: #000;
        height: 35px;
        padding: 12px 50px;
        order: 5;
        border: 1px solid transparent;

        @media (min-width: 576px) {
            &:hover {
                border-color: #bb559d !important;
                color: #bb559d;
            }

            &:hover .item-card__price-wrap {
                display: none;
            }

            &:hover .item-card__price-btn-text {
                display: block;

                color: #bb559d;
            }


            &:hover ~ .include__item-row .item-card__item-new {
                display: none;
            }
        }

        @media (max-width: 1023px) {
            width: 271px;
            margin-top: 15px;
        }

        @media (max-width: 768px) {
            width: 252px;
            margin-top: 15px;
         
        }

        @media (max-width: 575px) {
          
            margin-top: 10px;
            padding: 16px 52px;
        }

        @media (max-width: 523px) {
            width: 100%;
            margin-top: 15px;
        }
    }
}
