#img_01 img {
    border: 2px solid white;
}

.card-item {
    max-width: 1420px;
    margin: 0 auto;
    padding: 15px 10px 20px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    @media (max-width: 1223px) {
        max-width: 963px;
        margin-top: 30px;
        border-top: none;
        padding: 0 10px;
    }

    @media (max-width: 1023px) {
        padding: 0 10px;
        margin-top: 45px;
        max-width: 963px;
    }

    @media (max-width: 575px) {
        max-width: 555px;
        padding: 0;
        margin: 0;
        padding-left: 20px;
    }

    @media (max-width: 574px) {
        margin-top: 35px;
        padding: 0;
    }

    &__product-detail {
        margin: 0 auto;
        margin-top: 35px;
    }
}

// ******************product-detail styles****************

.product-detail {
    text-align: right;
    font-family: "Muller";
    font-size: 14px;
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 35px;
    grid-template-columns: 760px 430px;
    grid-column-gap: 90px;
    grid-template-rows: 14px 1fr;
    @media (max-width: 1400px) {
        grid-column-gap: 30px;
        width: 100%;
    }

    @media (max-width: 1220px) {
        grid-template-columns: 503px 430px;
    }

    @media (max-width: 964px) {
        grid-template-columns: 1fr;
    }

    @media (max-width: 1023px) {
        grid-column-gap: 20px;
    }

    @media (max-width: 966px) {
        width: 100%;
    }

    @media (max-width: 574px) {
        grid-template-rows: 10px 1fr;
        grid-template-columns: 1fr;
    }

    &__article {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
        @media (max-width: 997px) {
            grid-column-start: 2;
            grid-column-end: 3;
            text-align: right;
        }

        @media (max-width: 575px) {
            margin-right: 20px;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &__gallery {
        grid-row-start: 1;
        grid-row-end: 3;

        @media (max-width: 996px) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            max-width: 100%;
            text-align: center;
            margin: 0 auto;
            // padding: 0 50px 0 30px;
        }

        @media (max-width: 575px) {
            width: 100%;
            padding: 0;
        }

        @media (max-width: 425px) {
            max-width: 100%;
        }
    }

    &__column {
        margin-top: 62px;
        width: 430px;
        grid-column-start: 2;
        grid-row-start: 2;
        grid-column-end: 3;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;

        @media (max-width: 1023px) {
            margin-top: 30px;
        }

        @media (max-width: 997px) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            margin-top: 0;
            width: 100%;
            // max-width: 600px;
            margin: 0 auto;
            margin-top: 45px;
        }

        @media (max-width: 870px) and (min-width: 576px) {
            padding: 0 20px;
        }

        @media (max-width: 575px) {
            margin-top: 35px;
            padding: 0 10px;
            width: 100%;
        }

        @media (max-width: 425px) {
            margin-top: 30px;
        }
    }

    &__name {
        font-weight: 250;
        font-size: 32px;
        line-height: 115%;
        text-align: left;
        color: #000000;
        @media (max-width: 1023px) {
            font-size: 30px;
            font-weight: 250;
        }
        @media (max-width: 996px) {
            br {
                display: none;
            }
        }

        @media (max-width: 425px) {
            font-size: 22px;
        }
    }

    &__modal-option {
        width: 215px;
        height: 100px;
        height: 25px;
        padding-right: 25px;

        text-align: left;
        height: 50px;
        @media (max-width: 575px) {
            width: 352px;
        }

        @media (max-width: 529px) {
            width: 100%;
        }
    }

    &__modal-card-option {
        width: 300px;
        text-align: left;
        margin-top: 30px;
        @media (max-width: 414px) {
            margin: 0 auto;
            margin-top: 30px;
            width: 100%;
        }
    }

    &__price-wrapper {
        margin-top: 28px;
        @media (max-width: 1023px) {
            margin-top: 30px;
        }
        @media (max-width: 575px) {
            margin-top: 30px;
        }
    }

    &__price {
        font-family: "Muller";
        color: #000;
        font-weight: 250;
        font-size: 25px;
        line-height: 1;
        letter-spacing: 0.035em;
        text-transform: uppercase;

        @media (max-width: 575px) {
            font-size: 21px;
        }
    }

    &__icon-rub {
        width: 20px;
        height: 20px;
    }

    &__installment {
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.035em;
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.6);
        border-bottom: 1px solid rgba(0, 0, 0, 0.35);
        @media (max-width: 575px) {
            margin-top: 5px;
        }
        @media (max-width: 574px) {
            margin-top: 15px;
        }
    }

    &__size-title {
        width: 100%;
        font-weight: 300;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.035em;
        color: #000000;
        text-align: left;
        margin-top: 60px;
    }

    &__sizes-wrapper {
        width: 100%;
        // display: flex;
        position: relative;
        margin-top: 20px;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 996px) {
            width: 395px;
        }

        @media (max-width: 575px) {
            width: 100%;
            justify-content: space-between;
        }
    }

    &__sizes-list {
        position: relative;
        margin-top: 21px;
        width: 215px;
        height: 48px;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        padding-right: 107px;
        font-family: "Muller";
        font-weight: 300;
        font-size: 16px;
        line-height: 1;
        margin-right: 30px;
        letter-spacing: 0.035em;
        color: rgba(0, 0, 0, 0.5);

        &::after {
            position: absolute;
            content: "";
            right: 0;
            width: 8px;
            height: 8px;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            transform: rotate(-45deg);
            margin-right: 10px;
        }

        @media (max-width: 575px) {
            width: 352px;
            padding-right: 230px;
        }

        @media (max-width: 526px) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__no-size {
        position: relative;
        margin-top: 17px;
        font-family: "Muller";

        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: #000000;
        max-width: 150px;
        line-height: 1;
        letter-spacing: 0.035em;
        color: #000000;
        padding-left: 33px;
        margin-left: 20px;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            background-image: url("./../img/svg/ic-sizes.svg");
        }

        @media (max-width: 575px) {
            // padding-left: 30px;

            // margin-left: 32px;
        }

        @media (max-width: 575px) {
            margin-top: 20px;
            margin-left: 10px;
            order: 3;
        }
    }

    &__price-wrapper {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        white-space: nowrap;
    }

    &__size-guide {
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.035em;
        color: rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        margin-top: 20px;
        @media (max-width: 1023px) {
            margin-top: 15px;
        }

        @media (max-width: 575px) {
            margin-top: 20px;
        }
    }

    &__row {
        margin-top: 60px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 996px) {
            width: 430px;
        }

        @media (max-width: 845px) {
            width: 460px;
        }

        @media (max-width: 540px) {
            width: 100%;

            justify-content: flex-start;
        }
    }

    &__buy-btn {
        width: 390px;
        border: 1px solid #000;
        text-align: center;
        line-height: 55px;
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;

        letter-spacing: 0.035em;
        text-transform: uppercase;

        color: #000000;

        &:hover {
            border-color: #bb559d;
            color: #bb559d;
        }

        @media (max-width: 996px) {
            margin-right: 15px;
        }

        @media (max-width: 574px) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__wishlist {
        width: 25px;
        height: 25px;

        @media (max-width: 830px) {
            margin-right: 52px;
        }

        @media (max-width: 830px) {
            margin-right: 0;
        }

        @media (max-width: 545px) {
            width: 18px;
            height: 18px;
            order: 4;
            margin-top: 30px;
        }

        @media (max-width: 414px) {
            opacity: 0;
        }
    }

    &__watch-live {
        position: relative;
        width: 157px;
        font-size: 12px;
        line-height: 1;
        margin-top: 30px;
        &::after {
            left: 0;
            bottom: 0;
            position: absolute;
            content: "";
            width: 18px;
            height: 18px;
            background-image: url("./../img/svg/ic-watch-live.svg");
        }

        @media (max-width: 545px) {
            width: 18px;
            align-self: center;
            margin-right: 30px;
            order: 2;

            span {
                display: none;
            }

            margin-top: 55px;
        }

        @media (max-width: 414px) {
            display: none;
        }
    }

    &__share {
        position: relative;
        width: 106px;

        font-size: 12px;
        line-height: 1;
        margin-top: 30px;
        &::after {
            left: 0;
            bottom: 0;
            position: absolute;
            content: "";
            width: 18px;
            height: 18px;
            background-image: url("./../img/svg/ic-share.svg");
        }

        @media (max-width: 545px) {
            align-self: center;
            margin-right: 0;
            width: 18px;
            margin-right: 30px;

            span {
                display: none;
            }
        }

        @media (max-width: 414px) {
            display: none;
        }
    }

    &__modal-size-wrapper {
        display: flex;

        position: absolute;
        z-index: 100;
        left: 50vw;
        top: 50vh;
        transform: translate(-50%, -50%);
        width: 470px;
        height: 430px;
        padding: 20px 20px 29px 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        @media (max-width: 730px) {
            width: 70%;
        }
    }

    &__modal-window {
        position: fixed;
        display: none;
        width: 100vw;
        height: 100vw;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
        &--open {
            display: block;
        }
    }

    &__modal-col {
        width: 200px;
        text-align: left;
    }

    &__modal-size-caption {
        display: block;
        width: 100%;
        text-align: left;
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: #000000;
        margin-bottom: 21px;
    }

    &__modal-size-items-list {
        height: 290px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__modal-size-sizes-list {
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: rgba(0, 0, 0, 0.5);
        padding: 16px 105px 16px 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        &::after {
            top: 18px;
            transform: rotate(135deg);
        }
    }

    &__modal-size-item {
        display: block;
        padding-top: 40px;
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: rgba(0, 0, 0, 0.5);
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 10px;
        width: 205px;
        border-top: 1px solid rgba(0, 0, 0, 0.5);

        @media (max-width: 617px) {
            width: 140px;
            overflow-y: hidden;
        }

        &:hover {
            color: rgba(0, 0, 0, 1);
        }
    }

    &__no-size--modal {
        width: 200px;
        margin-left: 30px;
        margin-top: 76px;

        @media (max-width: 998px) {
            display: none;
        }
    }

    &__modal-share {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    &__modal-share-icon {
        width: 25px;
        height: 25px;
        margin-right: 25px;
        background-position: no-repeat;
        background-size: contain;
        &:last-child {
            margin-right: 0;
        }
        &--vk {
            background-image: url(./../img/svg/ic-fb.svg);
        }

        &--fb {
            background-image: url(./../img/svg/ic-vk.svg);
        }

        &:hover {
            opacity: 0.7;
        }
    }

    &__share-wrapper {
        margin-right: 40px;
        @media (max-width: 545px) {
            margin-top: 30px;
            order: 3;
        }

        @media (max-width: 574px) {
            margin-right: 0;
        }
    }

    &__share-wrapper:hover .product-detail__modal-share {
        display: flex;
    }

    &__modal-share {
        position: absolute;
        display: none;
        padding-right: 10px;
        padding-top: 15px;
        width: 130px;
        height: 57px;
    }
}

.modal-card {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;
    &--open {
        display: block;
    }

    &__window {
        position: fixed;
        left: 50vw;
        top: 50vh;
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 11;
        width: 360px;
        height: 920px;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        overflow: scroll;
        @media (max-width: 1400px) {
            max-height: 500px;
        }

        @media (max-width: 1400px) {
            max-height: 610px;
        }

        @media (max-width: 414px) {
            width: 320px;
            max-height: 600px;
            overflow-y: scroll;
            padding: 0 10px;
        }
    }
    & .modal-card__input.mobile-card__input--form {
        font-family: "Muller";
        font-weight: 300;
        font-size: 0.2rem;
        font-size: 16px;
        line-height: 16px;
        width: 300px;
        margin-top: 20px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: rgba(0, 0, 0, 0.5);
        padding: 16px 10px 16px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        @media (max-width: 414px) {
            width: 100%;
        }
    }

    &__close-btn {
        margin-left: auto;
        width: 18px;
        height: 18px;
        background-image: url("./../img/svg/ic-close.svg");
        @media (max-width: 414px) {
            margin-top: 5px;
        }
    }

    &__list-button {
        margin-bottom: 1px;
        width: 300px;
        margin: 0 auto;
        margin-top: 20px;

        &::after {
            top: 20px;
        }

        &:hover {
            &::after {
                transform: rotate(320deg);
            }
        }

        &:hover .modal-card-item__list {
            display: block;
        }
    }

    & .product-detail__modal-size-item:first-child {
        border-top: transparent;
    }

    &__list {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        overflow-x: hidden;
        width: 574px;
        background-color: #fff;
        z-index: 7;
        &:hover {
            display: block;
        }

        & .product-detail__modal-size-item {
            width: 300px;
            text-align: left;
        }
    }

    &__caption {
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 22px;
        color: #000000;
        margin-top: 30px;
        display: block;
        text-align: center;

        @media (max-width: 575px) {
            margin-top: 30px;
        }
    }

    &__image {
        width: 300px;
        height: 300px;
        margin-top: 20px;
        @media (max-width: 414px) {
            display: none;
        }
    }

    &__name {
        display: block;
        font-family: "Muller";
        font-weight: 250;
        font-size: 22px;
        line-height: 115%;
        text-align: center;
        /* or 25px */

        color: #000000;
        @media (max-width: 414px) {
            margin-top: 30px;
        }
    }

    // &__list-button {
    //     &:hover ~ .modal-card-item__list {
    //         display: block;
    //     }
    // }

    &__send-button {
        margin: 0 auto;
        min-width: 242px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 300;
        font-size: 14px !important;
        line-height: 14px !important;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: #000;
        height: 35px;
        border: 1px solid #000;
        margin-top: 60px;
        padding: 10px 50px 7px;

        &:hover {
            border-color: #bb559d;
            color: #bb559d;
        }

        &:hover .include__price-wrap {
            display: none;
        }

        &:hover .include__price-btn-text {
            display: block;
        }
    }

    &__offerta {
        font-family: "Muller";
        font-weight: 300;
        font-size: 14px;
        line-height: 135%;
        /* or 19px */
        margin-top: 30px;
        letter-spacing: 0.035em;
        display: block;
        color: rgba(0, 0, 0, 0.5);
        text-align: left;

        &--link {
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
    }
}

// ******************gallery styles****************

.gallery {
    display: grid;
    grid-template-columns: 153px 533px;
    grid-column-gap: 30px;
    width: 100%;
    @media (max-width: 1220px) {
        grid-template-columns: 90px 383px;
    }

    @media (max-width: 998px) {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    @media (max-width: 768px) {
        grid-template-columns: 121px 519px;
        grid-column-gap: 60px;
    }

    @media (max-width: 575px) {
        grid-template-columns: 90px 297px;
        grid-column-gap: 30px;
    }

    @media (max-width: 513px) {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    &__preview-list {
        grid-column-start: 1;
        grid-column-end: 2;
        flex-shrink: 0;
        min-height: 478px;
        margin-top: 75px;
        overflow-y: hidden;
        display: inline-block;
        margin-top: 20px;
        @media (min-width: 1252px) {
            min-height: 269px;
        }
        @media (max-width: 1252px) and (min-width: 996px) {
            min-height: 190px;
        }

        @media (max-width: 996px) {
            margin-right: 20px;
            width: 90px;
            min-height: 300px;
        }

        @media (max-width: 575px) {
            margin-top: 50px;
            min-height: auto;
        }

        @media (max-width: 513px) {
            width: 100%;
            height: 175px;
            margin-top: 20px;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            min-height: auto;
            width: 300px;
            margin: 0 auto;
            overflow-x: hidden;
        }

        & .slick-active.slick-center {
            border: 1px solid black;
        }

        & .slick-active.slick-center .gallery__preview-slide {
            // padding: 0 3px;
        }
    }

    &__preview-slide {
        cursor: pointer;
        position: relative;
        width: 100%;

        &:not(.active)::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }

        @media (max-width: 514px) {
            max-height: auto;
            width: 124px;
            padding: 0 10px;
        }
    }

    &__big-wrapper {
        padding: 0 50px;
        width: 100%;
        @media (max-width: 1230px) {
            padding: 0 43px;
        }
        @media (max-width: 575px) {
            padding: 0;
        }
        @media (max-width: 425px) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            padding: 0;
        }

        @media (max-width: 514px) {
            margin-bottom: 58px;
        }
    }

    &__big-slide {
        width: 100%;
     
        @media (max-width: 1225px) {
            margin: 0;
        }
    }

    &__big-counter {
        text-align: center;
        display: block;
        margin-top: 30px;
        font-family: "Muller";
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: rgba(0, 0, 0, 0.5);

        &--quantity {
            color: #000000;
        }
    }

    &__big-list {
        width: 100%;
        margin-top: 102px;
        grid-column-start: 2;
        grid-column-end: 4;
        @media (max-width: 1225px) {
            margin: 0;
        }

        @media (max-width: 575px) {
            width: 100%;
            margin: 0 auto;
        }

        & .slick-prev {
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url("./../img/svg/ic-prev-slide.svg");
            left: 56px;
            z-index: 5;
            &::before {
                color: black;
                content: "";
            }

            left: -5px;
            
            @media (max-width: 320px) {
                left: 90px;
                top: 341px;
            }
        }

        & .slick-next {
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url("./../img/svg/ic-next-slide.svg");
            right: -20px;

            &::before {
                color: black;
                content: "";
            }

            @media (max-width: 320px) {
                right: 95px;
                top: 341px;
            }
        }

        @media (max-width: 575px) {
            width: 425px;
            margin-top: 25px;
        }

        @media (max-width: 574px) {
            width: 300px;
        }
    }
}

.slick-prev:hover,
.slick-prev:focus {
    background-image: url("./../img/svg/ic-prev-slide.svg") !important;
}

.slick-next:hover,
.slick-next:focus {
    background-image: url("./../img/svg/ic-next-slide.svg") !important;
}
