@import "./common/variables.scss";

.header {
    color: $text-color;

    &__table-burger {
        display: none;
        position: relative;
        width: 18px;
        height: 18px;
        &.burger-close {
            background-image: url("./../img/svg/icon-burger.svg");
        }


        &.burger-open {
            background-image: none;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 10px;
                width: 18px;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.5);
                transform: rotate(-45deg);
            }
            &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 10px;
                width: 18px;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.5);
                transform: rotate(45deg);
            }
        }
        @media (max-width: 1023px) {
            display: block;
        }
    }

    &__top-wrapper {
        position: relative;

        max-width: 120rem;
        padding: 0 3.125rem;
        margin: 0 auto;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media (max-width: 100rem) {
            padding: 0 1.875rem;
        }

        @media (max-width: 63.9375rem) {
            height: 39px;
        }

        @media (max-width: 35.9375rem) {
            padding: 0 1.25rem;
        }

        @media (max-width: 35.9375rem) {
            height: 54px;
            align-items: center;
        }
    }

    &__top-left {
        list-style: none;
        display: flex;
        flex: 0 0 477px;
        justify-content: space-between;
        @media (max-width: 1023px) {
            display: none;
        }
        @media (max-width: 81.25rem) {
            flex-basis: 350px;
        }
    }

    &__top-left_item {
        display: block;
        font-family: "Muller";
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 3.5%;
        border-bottom: 1px solid transparent;
        padding-bottom: 2px;
        &:hover {
            border-bottom: 1px solid rgba(187, 85, 157, 0.6);
        }

        @media (max-width: 100rem) {
            & span {
                display: none;
            }
        }
    }

    &__location {
        position: relative;
        padding-left: 1.4375rem;
        &::after {
            content: "";
            background-size: cover;
            background-position: center;
            position: absolute;
            width: 18px;
            height: 18px;
            top: -3px;
            left: 0;
            background-image: url("../img/svg/ic-location.svg");
        }

        @media (max-width: 100rem) {
            &:hover {
                border-bottom: none;
            }
        }
    }

    &__top-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 58px;
        @media (max-width: 63.9375rem) {
            top: 36px;
        }

        @media (max-width: 63.9375rem) {
            top: 35px;
        }

        @media (max-width: 25.625rem) {
            top: 20px;
        }
    }

    &__main-logo {
        & img {
            width: 100%;
        }
        @media (max-width: 1600px) {
            width: 250px;
        }
        @media (max-width: 575px) {
            width: 202px;
        }
    }

    &__top-right {
        max-width: 11.875rem;
        display: flex;
        justify-content: flex-end;
    }

    &__links-item {
        position: relative;
        margin-right: 22px;
        width: 19px;
        height: 19px;
        background-size: cover;
        @media (max-width: 35.9375rem) {
            margin-right: 15px;
        }

        &:last-child {
            margin-right: 0;
        }

        &--icon-whishlist {
            background-image: url("./../img/svg/ic-wishlist.svg");
            &:hover {
                background-image: url("./../img/svg/ic-wishlist--active.svg");
            }

            @media (max-width: 440px) {
                display: none;
            }
        }

        &--icon-profile {
            background-image: url("./../img/svg/ic-profile.svg");

            &:hover {
                background-image: url("./../img/svg/ic-profile--active.svg");
            }
            @media (max-width: 440px) {
                display: none;
            }
        }

        &--icon-basket {
            background-image: url("./../img/svg/ic-basket.svg");

            &:hover {
                background-image: url("./../img/svg/ic-basket--active.svg");
            }
        }
    }

    &__wrapper {
        max-width: 90rem;
        margin: 0 auto;
        margin-top: 58px;
        display: flex;
        justify-content: flex-end;
        @media (max-width: 76.5625rem) {
            justify-content: space-between;
            margin-top: 3.6875rem;
            padding: 0 30px;
        }

        @media (max-width: 49.375rem) {
            display: none;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 76.4375rem) {
            flex-grow: 1;
        }
    }

    &__search {
        margin-left: 5.4375rem;
        margin-right: 2.5rem;

        @media (max-width: 76.5625rem) {
            display: none;
        }
    }
}

// *********************top-menu styles***********************

.top-menu {
    width: 100%;
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            right: -43px;
            top: 0;
            padding: 0;
            background: rgba(0, 0, 0, 0.3);
            width: 1px;
            height: 100%;
            @media (max-width: 76.4375rem) {
                display: none;
            }
        }
    }

    &__item {
        margin-right: 2.6875rem;
        text-transform: uppercase;
        position: relative;
        @media (max-width: 76.5625rem) {
            flex-shrink: 0;
            margin: 0;
        }

        &--selected {
            border-bottom: 1px solid rgba(187, 85, 157, 0.6);
        }
        &:hover {
            border-bottom: 1px solid rgba(187, 85, 157, 0.6);
        }
        &:first-child {
            padding-right: 20px;
            &::after {
                content: "";
                position: absolute;
                top: 12px;
                right: 6px;
                width: 6px;
                height: 6px;
                display: block;
                transform: rotate(45deg);
                border-bottom: 1px solid;
                border-right: 1px solid;
            }
        }
        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 76.5625rem) {
        }
    }

    &__link {
        display: block;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 2.85;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: $text-color;
        border-bottom: 1px solid transparent;
        padding-bottom: 2px;
    }
}

// *********************form-search styles***********************

.form-search {
    width: 14.6875rem;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 32px;
    align-self: flex-start;

    &__input {
        font-size: 14px;
        line-height: 1.14;
        padding: 8px 2.1875rem 0.5rem 1.8125rem;
    }

    &__submit {
        position: absolute;
        left: 0;
        top: 10px;
        &::after {
            content: "";
            width: 18px;
            height: 18px;
            position: absolute;
            top: -4px;
            left: 0px;
            bottom: -6px;
            background-image: url("./../img/svg/ic-search.svg");
        }
    }
}


// *********************main styles***********************


