.include {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 30px;
 
  @media (max-width: 604px) {
    padding: 10px;
  }

  &__title {
    font-family: 'Muller';
    font-weight: 250;
    font-size: 32px;
    line-height: 32px;

    @media (max-width: 1023px) {
      margin-right: 20px;
      font-size: 30px;
      line-height: 30px;
    }

    @media (max-width: 414px) {
      font-size: 22px;
      line-height: 22px;
    }
  }

  &__list {
    overflow-x: scroll;
    display: flex;
    padding-left: 0;
    margin-top: 60px;
    width: 100%;
    justify-content: center;

    @media (max-width: 575px) {
      margin-top: 35px;
      padding-left: 0;
     
    }
  }

  &__item {
    margin-right: 0;
  }
}
