.include {
    max-width: 1071px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 30px;


    @media (max-width: 604px) {
        padding: 10px;
    }



    &__title {
        font-family: "Muller";
        font-weight: 250;
        font-size: 32px;
        line-height: 32px;

        @media (max-width: 1023px) {
            margin-right: 20px;
            font-size: 30px;
            line-height: 30px;
        }

        @media (max-width: 414px) {
            font-size: 22px;
            line-height: 22px;
        }


    }

    &__list {
        display: flex;
        padding-left: 0;
        margin-top: 60px;
        width: 100%;
        padding-left: 367px;

        @media (max-width: 1023px) {
            padding-left: 183px;
        }

        @media (max-width: 768px) {
            padding-left: 125px;
        }

        @media (max-width: 604px) {
            margin-left: 0;
            width: 535px;
            justify-content: space-between;
            width: auto;
        }

        @media (max-width: 575px) {
            margin-top: 35px;
            padding-left: 0;
        }

        
    }

    &__item {
        max-width: 337px;
        // margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            cursor: pointer;
        }

        @media (max-width: 1023px) {
            max-width: 311px;
        }

        @media (max-width: 800px) {
            width: 270px;
            flex-shrink: 0;
        }

        @media (max-width: 575px) {
            margin-right: 15px;
        }


        @media (max-width: 460px) {
            max-width: 150px;
        }

        @media (max-width: 320px) {
            margin-right: 0;
        }
    }

    &__item-icon-watch {
        @media (max-width: 414px) {
            display: none;
        }
    }

    &__info-name:first-child {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__buy-btn {
        max-width: 242px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: #000;
        height: 35px;
        border: 1px solid #000;
        // border-top-color: rgb(0, 0, 0);
        // border-right-color: rgb(0, 0, 0);
        // border-bottom-color: rgb(0, 0, 0);
        // border-left-color: rgb(0, 0, 0);
        padding: 10px 50px 7px;
        border-color: transparent;

        &:hover {
            border-color: #bb559d;
            color: #bb559d;
        }

        &:hover .include__price-wrap {
            display: none;
        }

        &:hover .include__price-btn-text {
            display: block;
        }

        @media (max-width: 414px) {
            margin-top: 0;
        }
    }

    &__price-wrap {
        display: flex;
        align-items: center;
    }

    &__price {
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    &__price.old-price {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: line-through;
        margin-right: 20px;

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__icon {
        display: inline-block;
        width: 1em;
        flex-shrink: 0;
        height: 1em;
    }

    &__price-btn-text {
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        display: none;
    }

    &__item-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    &__item-price {
        max-width: 180px;
        justify-content: space-between;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.035em;
    }

    &__item-icons {
        display: flex;
        width: 50px;
        justify-content: space-between;
        margin-right: 10px;
        align-items: center;

        @media (max-width: 1023px) {
            margin-left: auto;
        }
    }

    &__item-sale {
        margin-left: 10px;
        font-family: "Muller";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;

        letter-spacing: 0.035em;

        color: #bb559d;

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__item-image-wrapper {
        max-width: 270px;
        height: 270px;

        @media (max-width: 850px) {
            height: auto;
        }

        @media (max-width: 414px) {
            height: 142px;
            width: 142px;
        }

    }

    &__item-title {
        justify-content: center;
        display: block;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        letter-spacing: 0.035em;
        @media (max-width: 575px) {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            /* identical to box height */

            display: flex;
            align-items: center;
            letter-spacing: 0.035em;
        }

        @media (max-width: 414px) {
            display: none;
        }
    }

    &__item-info {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;

        @media (max-width: 414px) {
            display: none;
        }
    }

    &__info-name {
        font-family: "Muller";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.035em;
        margin-right: 10px;
        color: rgba(0,0,0,0.5);
        @media (max-width: 570px) {
            &:first-child {

                display: none;
            }
        }
    }

    &__item-price {
        margin-top: 30px;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: #000000;
        display: flex;
        // justify-content: center;
        width: 160px;
    }
}
