.include {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 20px;

    @media (max-width: 1023px) {
        max-width: 963px;
    }

    @media (max-width: 850px) {
        max-width: 535px;
    }

    @media (max-width: 604px) {
        padding: 0;
    }

    @media (max-width: 570px) {
        width: 100%;
    }

    &__title {
        font-family: "Muller";
        font-weight: 250;
        font-size: 32px;
        line-height: 32px;
        /* identical to box height */
        color: #000000;

        @media (max-width: 1023px) {
            width: 963px;
            font-size: 30px;
            line-height: 30px;
        }

    }

    &__list {
        list-style: none;
        display: flex;
        padding-left: 0;
        max-width: 637px;
        margin: 0 auto;
        margin-top: 60px;

        @media (max-width: 604px) {
           width: 100%;
           justify-content: space-between;
           padding: 0 30px;
        }
    }

    &__item {
        width: 337px;
        // height: 337px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        &:hover {
            cursor: pointer;
        }

        @media (max-width: 1023px) {
            width: 311px;
            height: 423px;
        }

        @media (max-width: 800px) {
            width: 270px;
            height: 423px;
        }

        @media (max-width: 570px) {
            width: 190px;
            
        }
    }

    &__buy-btn {
        min-width: 242px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: #000;
        height: 35px;
        border: 1px solid #000;
        // border-top-color: rgb(0, 0, 0);
        // border-right-color: rgb(0, 0, 0);
        // border-bottom-color: rgb(0, 0, 0);
        // border-left-color: rgb(0, 0, 0);
        padding: 10px 50px 7px;
        border-color: transparent;

        &:hover {
            border-color: #bb559d;
            color: #bb559d;
        }

        &:hover .include__price-wrap{
            display: none;
        }

        &:hover .include__price-btn-text{
            display: block;
        }
    }

    &__price-wrap {
        display: flex;
        align-items: center;
    }

    &__price {
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    &__price.old-price {
        color: rgba(0, 0, 0, 0.5);
        // text-decoration: line-through;
        margin-right: 20px;

        @media (max-width: 1023px) {
           display: none;
        }
    }

    &__icon {
        display: inline-block;
        width: 1em;
        flex-shrink: 0;
        height: 1em;
    }

    &__price-btn-text {
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        display: none;
    }

  
    &__item-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    &__item-price {
        width: 180px;
        justify-content: space-between;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.035em;
    }

    &__item-icons {
        display: flex;
        width: 50px;
        justify-content: space-between;
        margin-right: 10px;

        
        @media (max-width: 1023px) {
            margin-left: auto;
        }
    }

    &__item-sale {
        margin-left: 10px;
        font-family: "Muller";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;

        letter-spacing: 0.035em;

        color: #bb559d;

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__item-image-wrapper {
        width: 270px;
        height: 270px;

        @media (max-width: 570px) {
            width: 142px;
            height: 142px;
        }

    }

   

    &__item-title {
        justify-content: center;
        display: block;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        letter-spacing: 0.035em;
        @media (max-width: 570px) {
            display: none;
         }
    }

    &__item-info {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
    }

    &__info-name {
        font-family: "Muller";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.035em;
        margin-right: 10px;
        @media (max-width: 570px) {
           display: none;
        }
    }

    &__item-price {
        margin-top: 30px;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: #000000;
        display: flex;
        // justify-content: center;
        width: 160px;
    }
}
