.modal__wrapper {
    position: fixed;
    width: 100vw;

    height: 100vh;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 9;
    opacity: 0.3;
    display: none;
    &.active {
        display: block;
    }
}

.modal {
    &__delivery {
        position: fixed;
        width: 100vw;

        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 999;
        display: none;
    }

    &__callback {
        position: fixed;
        width: 100vw;

        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 9;
        display: none;
    }

    &__callback-window {
        position: absolute;
        background-color: #fff;
        width: 329px;
        left: 50%;
        top: 50%;
        z-index: 15;
        transform: translate(-50%, -50%);
        padding: 68px 25px 15px 25px;
    }

    &__callback-title {
        font-family: "Muller";
        font-weight: 300;
        font-size: 22px;
        line-height: 22px;
    }

    &__payment {
        position: fixed;
        width: 100vw;

        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 9;
        display: none;
    }

    &__close {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        background-image: url("./../img/svg/ic-close.svg");
        right: 30px;
        top: 30px;
    }

    &--show {
        display: block;
    }

    &__window {
        position: absolute;
        background-color: #fff;
        max-width: 800px;
        left: 50%;
        top: 50%;
        z-index: 15;
        transform: translate(-50%, -50%);
        padding: 68px 40px;
        @media (max-width: 1030px) {
            max-width: auto;
            width: 700px;
            padding: 30px;
        }
        @media (max-width: 720px) {
            width: 400px;

            max-height: calc(100vh - 100px);
            overflow-y: scroll;
        }

        @media (max-width: 720px) {
            width: 300px;
            padding: 30px;
            max-height: calc(100vh - 100px);
            overflow-y: scroll;
        }
    }

    &__title {
        font-family: "Muller";
        font-weight: 300;
        font-size: 22px;
        line-height: 1;
        color: #000000;
    }

    &__text {
        padding-top: 60px;
    }

    &__paragraph {
        margin-top: 20px;
        font-family: "Muller";
        font-weight: 400;
        color: #000000;
        font-size: 14px;
        line-height: 135%;
    }
}

.modal-card__input--callback {
    width: 250px;
}

.salon {
    position: fixed;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    display: flex;
    max-width: 1400px;
    max-height: 700px;
    z-index: 10;

    @media (max-width: 574px) {
        width: 320px;
    }


    &--hide {
        display: none;
    }

    &--show {
        display: flex;
    }
    @media (max-width: 1400px) {
        max-width: 400px;
        flex-wrap: wrap;
    }

    &__metro__option {
        margin-top: 30px;
        // width: 340px;
    }

    &__label {
        display: none;
        font-family: "Muller";
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: 0.035em;
        text-transform: uppercase;

        color: #000000;
        @media (max-width: 1400px) {
            display: inline-block;
            width: 50%;
            text-transform: uppercase;
        }

        position: relative;
    }

    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 5px;
        right: 5px;
        background-image: url("./../img/svg/ic-close.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__label::after {
        content: "";
        position: absolute;
        left: 0;
        height: 1px;
        bottom: -5px;
        background-color: rgba(187, 85, 157, 0.6);
        display: none;
        width: 100%;
    }

    &__radio--location:checked ~ .salon__label--location::after {
        display: block;
    }

    &__radio--map:checked ~ .salon__label--map::after {
        display: block;
    }

    &__col {
        display: flex;
        flex-direction: column;
        width: 400px;
        display: block;
        &--mobile {
            display: none;
            @media (max-width: 1400px) {
                // display: block;
                // min-height: 400px;
                min-height: 300px;
            }
        }

        @media (max-width: 1400px) {
            display: none;
        }
    }

    &__radio--location:checked ~ .salon__col--location--mobile {
        @media (max-width: 1400px) {
            display: block;
        }
    }

    &__radio--map:checked ~ .salon__col--map--mobile {
        @media (max-width: 1400px) {
            display: block;
        }
    }

    &__radio--location:checked ~ .salon__col--location--mobile {
        @media (min-width: 1399px) {
            display: none;
        }
    }

    &__radio--map:checked ~ .salon__col--map--mobile {
        @media (min-width: 1399px) {
            display: none;
        }
    }

    &__metro {
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height */
        letter-spacing: 0.035em;
        color: #000000;
        display: block;
        width: 100%;
        margin-top: 30px;
    }

    &__auto {
        position: relative;
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height */
        padding-left: 20px;
        letter-spacing: 0.035em;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 60px;
        display: inline-block;
        width: 100%;
        text-decoration: underline;
        &::after {
            position: absolute;
            content: "";
            width: 18px;
            height: 18px;
            background-image: url("./../img/svg/ic-auto.svg");
            left: 0;
            top: -3px;
        }
    }

    &__list--title {
        display: block;
        margin-top: 60px;
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 22px;

        /* identical to box height */

        color: #000000;
    }

    &__item {
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 325px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid #000;
        }
    }

    &__list {
        list-style: none;
        margin-top: 30px;
        max-height: 200px;
        overflow-y: scroll;
    }

    &__address {
        font-family: "Muller";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 135%;
        margin-top: 20px;
        letter-spacing: 0.035em;
    }

    &__title {
        font-family: "Muller";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.035em;
        text-transform: uppercase;

        color: #000000;
    }

    &__time {
        margin-top: 20px;
    }

    &__address-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    &__address-list--item {
        position: relative;
        padding-left: 15px;
        margin-right: 7px;
        font-family: "Muller";

        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height */
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 3px;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: rgba(138, 49, 112, 0.6);
        }
        letter-spacing: 0.035em;

        &:last-child::after {
            background-color: rgba(193, 234, 142, 0.6);
        }
    }

    &__col--location-map {
        width: 1000px;
    }
}
