.modal__wrapper {
    position: fixed;
    width: 100vw;

    height: 100vh;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 9;
    opacity: 0.3;
    display: none;
    &.active {
        display: block;
    }
}

.modal {
    &__delivery {
        position: fixed;
        width: 100vw;

        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 999;
        display: none;
    }

    &__callback {
        position: fixed;
        width: 100vw;

        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 9;
        display: none;
    }

    &__callback-window {
        position: absolute;
        background-color: #fff;
        width: 360px;
        height: 480px;
        left: 50%;
        top: 50%;
        z-index: 15;
        transform: translate(-50%, -50%);
        padding: 78px 30px 30px 30px;

        @media (max-width: 414px) {
            padding: 58px 30px 30px;
            max-width: auto;
            width: 329px;
            height: 480px;
        }
    }

    &__callback-title {
        font-family: "Muller";
        font-weight: 300;
        font-size: 21px;
        line-height: 22px;
    }

    &__payment {
        position: fixed;
        width: 100vw;

        height: 100vh;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 9;
        display: none;
    }

    &__close {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        background-image: url("./../img/svg/ic-close.svg");
        right: 30px;
        top: 30px;

        &--callback {
            right: 30px;
            top: 30px;
        }
    }

    &--show {
        display: block;
    }

    &__window {
        position: absolute;
        background-color: #fff;
        max-width: 800px;
        left: 50%;
        top: 50%;
        z-index: 15;
        transform: translate(-50%, -50%);
        padding: 68px 40px;
        @media (max-width: 1030px) {
            max-width: auto;
            width: 700px;
            padding: 30px;
        }
        @media (max-width: 720px) {
            width: 400px;

            max-height: calc(100vh - 100px);
            overflow-y: scroll;
        }

        @media (max-width: 720px) {
            width: 300px;
            padding: 30px;
            max-height: calc(100vh - 100px);
            overflow-y: scroll;
        }
    }

    &__title {
        font-family: "Muller";
        font-weight: 300;
        font-size: 22px;
        line-height: 1;
        color: #000000;
    }

    &__text {
        padding-top: 60px;
    }

    &__paragraph {
        margin-top: 20px;
        font-family: "Muller";
        font-weight: 400;
        color: #000000;
        font-size: 14px;
        line-height: 135%;
    }
}

.modal-card__input {
    font-family: "Muller";
    font-weight: 300;
    font-size: 0.2rem;
    font-size: 16px;
    line-height: 16px;

    margin-top: 20px;
    letter-spacing: 0.035em;
    color: rgba(0, 0, 0, 0.5);
    padding: 16px 10px 16px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.modal-card__input--callback {
    width: 100%;
}

.modal-card__send-button {
    width: 100%;
    height: 56px;
    margin-top: 64px;
}

.salon {
    overflow-y: scroll;
    overflow-x: hidden;

    &__modal {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 9;
        display: none;
        &--show {
            display: block;
        }
    }

    position: fixed;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 0;
    display: flex;
    max-width: 1400px;
    max-height: 700px;
    z-index: 10;

    @media (max-width: 768px) {
        
        padding: 30px;
        width: 400px;
        flex-wrap: wrap;
        height: 500px;
    }

    @media (max-width: 574px) {
        width: 320px;
      
        padding: 20px 10px;
    }
    @media (max-width: 574px) {
        flex-direction: column;
        width: 300px;
        flex-wrap: nowrap;
    }

    &__metro__option {
        margin-top: 20px;
        width: 100%;
    }

    &__label {
        display: none;
        font-family: "Muller";
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        
        /* identical to box height */

        letter-spacing: 0.035em;
        text-transform: uppercase;
        position: relative;

        color: rgba(0, 0, 0, 0.5);

        @media (max-width: 768px) {
            display: block;
            margin-right: 5px;
            width: 48%;
            text-align: center;

            text-transform: uppercase;
            font-size: 12px;
            line-height: 12px;
            /* identical to box height */

            letter-spacing: 0.035em;
            text-transform: uppercase;
        }

        @media (max-width: 574px) {
            width: 100%;
            margin-bottom: 22px;
            text-align: left;
            position: relative;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__label span {
        display: inline-block;
        padding-bottom: 7px;
    }

    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 5px;
        right: 5px;
        background-image: url("./../img/svg/ic-close.svg");
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 414px) {
            display: none;
        }
    }


    &__label--location {
    }

    &__label--map {
        &::after {
            @media (max-width: 574px) {
                width: 53%;
            }
        }
    }


    &__radio--location:checked ~ .salon__label--location {
        color: rgba(0, 0, 0, 1);
       
    }

    &__radio--map:checked ~ .salon__label--map {
        color: rgba(0, 0, 0, 1);
      
    }

    &__radio--location:checked ~ .salon__label--location span {
        border-bottom: 2px solid rgba(187, 85, 157, 0.6);
    }

    &__radio--map:checked ~ .salon__label--map span {
        
        border-bottom: 2px solid rgba(187, 85, 157, 0.6);
    }

    &__col {
        display: flex;
        flex-direction: column;
        width: 400px;
        display: block;
        &--mobile {
            display: none;
            @media (max-width: 575px) {
                height: 300px;
                width: 100px;

                min-width: none;
            }
        }

        @media (max-width: 768px) {
            display: none;
        }
    }


    &__radio--location:checked ~ .salon__col--location--mobile {
        @media (max-width: 768px) {
            display: block;
            position: relative;
            padding: 0;
        }
    }

    &__radio--map:checked ~ .salon__col--map--mobile {
        @media (max-width: 768px) {
            display: block;
            position: relative;
        }
    }

    &__radio--location:checked ~ .salon__col--location--mobile {
        @media (min-width: 1399px) {
            display: none;
        }
    }

    &__radio--map:checked ~ .salon__col--map--mobile {
        @media (min-width: 1399px) {
            display: none;
        }
    }

    &__metro {
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height */
        letter-spacing: 0.035em;
        color: #000000;
        display: block;
        width: 100%;
        margin-top: 30px;
    }

    &__metro__option  {
        border-radius: 0;
    }

    &__auto {
        position: relative;
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
        display: inline-block;
        /* identical to box height */
        margin-left: 28px;
        letter-spacing: 0.035em;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 20px;
        display: inline-block;
        border-bottom: 1px solid rgba(0,0,0,0.3);
        &::after {
            position: absolute;
            content: "";
            width: 18px;
            height: 18px;
            background-image: url("./../img/svg/ic-auto.svg");
            left: -28px;
            top: -3px;
        }

        @media (max-width: 768px) {
            margin-top: 22px;
            margin-bottom: 32px;
        }
    }

    &__list--title {
        display: block;
        margin-top: 60px;
        font-family: "Muller";
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 22px;

        /* identical to box height */

        color: #000000;
    }

    &__item {
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid transparent;
        margin-bottom: 20px;
        
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            border: 1px solid #000;
        }

        @media (max-width: 600px) {
            width: calc(100% - 15px)
        }
    }

    &__list {
        list-style: none;
        margin-top: 30px;
        width: 100%;
        // height: 300px;
        margin-right: 30px;
        overflow-y: scroll;
        height: 200px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            height: 100%;
            width: 340px;
            margin: 0;
        }

        @media (max-width: 600px) {
            width: 100%;
        }

        @media (max-width: 574px) {
        }
    }

    &__address {
        font-family: "Muller";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 135%;
        margin-top: 20px;
        letter-spacing: 0.035em;
    }

    &__title {
        font-family: "Muller";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: #000000;
    }

    &__time {
        margin-top: 10px;
    }

    &__address-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        &:first-child {
            margin-top: 20px;
        }
    }

    &__address-list--item {
        position: relative;
        padding-left: 15px;
        margin-right: 7px;
        font-family: "Muller";

        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        margin-top: 10px;
        
        /* identical to box height */
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 3px;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: rgba(138, 49, 112, 0.6);
        }
        letter-spacing: 0.035em;

        &:last-child::after {
            background-color: rgba(193, 234, 142, 0.6);
        }
    }

    &__col--location-map {
        // display: flex;
     
        width: 1000px;

        @media (max-width: 1620px) {
           
            width: 650px;
        }
        @media (max-width: 1020px) {
            width: 500px;
        }

        @media (max-width: 768px) {
            width: 100%;
            padding: 0;
        }
    }

    &__col--location {
        padding: 0 30px 30px 30px;
        height: 625px;
        overflow-y: scroll;

        @media (max-width: 1420px) {
            width: 300px;
            // padding: 30px 30px 0 30px;
        }
        @media (max-width: 1020px) {
            width: 250px;
        }
    }

    &__btn {
        @media (max-width: 574px) {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            width: 9px;
            height: 9px;
            right: 16px;
            top: 0;
            background-size: cover;
            transform: rotate(45deg);
            background-image: url("./../img/svg/ic-close.svg");
          
        }

    }

    &__col--location--mobile {
        width: 100%;
        min-height: 300px;
        @media (max-width: 768px) {
            height: 700px;
        }
    }

    &__radio--location:checked ~ .salon__col--location--mobile {
        @media (max-width: 768px) {
            display: block;
            position: relative;
            overflow: hidden;
        }
    }

    &__radio--map:checked ~ .salon__col--map--mobile {
        @media (max-width: 768px) {
            display: block;
            position: relative;
        }
    }

    &__radio--location:checked ~ .salon__col--location--mobile {
        @media (min-width: 1399px) {
            display: none;
        }
    }

    &__radio--location:checked ~ .salon__label .salon__btn--location {
        @media (max-width: 574px) {
            transform: rotate(90deg);
            background-image: url('./../img/svg/ic-small-close.svg');
          
        }
    }

    &__radio--map:checked ~ .salon__label .salon__btn--map {
        @media (max-width: 574px) {
            transform: rotate(90deg);
            background-image: url('./../img/svg/ic-small-close.svg');
            
        }
    }

    &__radio--map:checked ~ .salon__col--map--mobile {
        @media (max-width: 768px) {
            display: block;
            position: relative;
        }
    }

    &__radio--map:checked ~ .salon__col--map--mobile {
        @media (min-width: 1399px) {
            display: none;
        }
    }
}

.yandexMap {
    height: 100%;
}

.yandexMap-mobile {
    height: 313px;
    width: 100%;
}
