.recent {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 0 30px;


    @media (max-width: 604px) {
        padding: 10px;
    }

    @media (max-width: 414px) {
        margin-top: 30px;
    }


    &__title {
        font-family: "Muller";
        font-weight: 250;
        font-size: 32px;
        line-height: 32px;

        color: #000000;

        @media (max-width: 523px) {
            font-size: 22px;
            line-height: 22px;
        }

    }

  

    &__price {
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;
        white-space: nowrap;
        @media (max-width: 575px) {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            /* identical to box height */

            letter-spacing: 0.035em;
        }
    }

    &__price.old-price {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: line-through;
        margin-right: 20px;
        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__icon {
        display: inline-block;
        width: 1em;
        fill: currentColor;
        flex-shrink: 0;
        height: 1em;
    }

    &__price-btn-text {
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        display: none;
    }

    &__list {
        list-style: none;
        display: flex;
        padding-left: 0;
        margin-top: 60px;
        overflow-x: scroll;

        ::-webkit-scrollbar:vertical {
            height: 4px;
        }
        ::-webkit-scrollbar:horizontal {
            height: 4px;
        }

        @media (max-width: 1000px) {
            overflow: auto;
        }

        @media (max-width: 575px) {
            margin-top: 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    &__item {
        width: 337px;
        position: relative;
        margin-right: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        flex: 0 0 21%;
        margin: 0 25px 0 0;
        &:hover {
            cursor: pointer;
        }

        @media (max-width: 1023px) {
            flex: 0 0 40%;
            margin: 0 25px 0 0;
        }
      

        @media (max-width: 768px) {
            
            flex: 0 0 228px;
        }

        @media (max-width: 575px) {
           
            flex: 0 0 270px;
        }

        @media (max-width: 523px) {
           
            flex: 0 0 150px;
            
        }


    }



}
    
.recent__list .item-card__item {
    min-width: 50%;
    margin-right: 0;
}


 

