.similar {
   
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 30px;

    @media (max-width: 604px) {
        padding: 10px;
    }


    &__title {
        font-family: "Muller";
        font-weight: 250;
        font-size: 32px;
        line-height: 32px;

        color: #000000;

        @media (max-width: 1023px) {
            font-size: 30px;
            line-height: 30px;
        }

        @media (max-width: 414px) {
            font-weight: 250;
            font-size: 22px;
            line-height: 22px;
        }
    }

    &__buy-btn {
        min-width: 242px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: #000;
        height: 35px;
        border: 1px solid #000;
        // border-top-color: rgb(0, 0, 0);
        // border-right-color: rgb(0, 0, 0);
        // border-bottom-color: rgb(0, 0, 0);
        // border-left-color: rgb(0, 0, 0);
        padding: 10px 50px 7px;
        border-color: transparent;

        &:hover {
            border-color: #bb559d;
            color: #bb559d;
        }

        &:hover .include__price-wrap {
            display: none;
        }

        &:hover .include__price-btn-text {
            display: block;
        }
    }

    &__price-wrap {
        display: flex;
        align-items: center;
    }

    &__price {
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    &__price.old-price {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: line-through;
        margin-right: 20px;
        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__icon {
        display: inline-block;
        width: 1em;
        fill: currentColor;
        flex-shrink: 0;
        height: 1em;
    }

    &__price-btn-text {
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        display: none;
    }

    &__list {
 
        display: flex;
        padding-left: 0;
        margin-top: 60px;
    }

    &__item {
        width: 337px;
        // height: 337px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;

        @media (max-width: 1023px) {
            max-width: 303px;
        }

        @media (max-width: 575px) {
            max-width: 262px;
        }

        @media (max-width: 414px) {
            max-width: 149px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__item-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    &__item-price {
        width: 180px;
        justify-content: space-between;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.035em;
    }

    &__item-icons {
        display: flex;
        width: 50px;
        justify-content: space-between;
        margin-right: 10px;
    }

    &__item-sale {
        margin-left: 10px;
        font-family: "Muller";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: #bb559d;
        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__item-icon-watch {
        @media (max-width: 575px) {
            display: none;
        } 
    }

    &__item-image-wrapper {
        width: 270px;
        height: 270px;

        @media (max-width: 414px) {
            max-width: 149px;
            height: 142px;
        }
    }

    &__item-title {
        justify-content: center;
        display: block;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        letter-spacing: 0.035em;
        @media (max-width: 414px) {
            display: none;
        }
    }

    &__item-info {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
        @media (max-width: 414px) {
            display: none;
        }
    }

    &__info-name {
        font-family: "Muller";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        /* identical to box height */

        letter-spacing: 0.035em;
        margin-right: 10px;

        &:first-child {
            @media (max-width: 768px) {
                display: none;
            }
        }
        
        
    }

    &__item-price {
        margin-top: 30px;
        font-family: "Muller";
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        letter-spacing: 0.035em;

        color: #000000;
        display: flex;
        width: 160px;
    }

    &__buttons {
        margin-top: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__counter {
        font-family: "Muller";
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.035em;
        margin: 0 15px;

        color: rgba(0, 0, 0, 0.5);

        &--current {
            color: rgba(0, 0, 0, 1);
        }
    }

    &__button {
        font-family: "Muller";
        font-weight: 300;
        font-size: 16px;
        line-height: 1;
        width: 14px;
        height: 10px;
        background-image: url('./../img/svg/ic-arrow-left.svg');
        /* identical to box height */
        letter-spacing: 0.035em;
        opacity: 0.5;

        &--next {
            transform: rotate(180deg)
        }

        &:hover {
            opacity: 1;
        }
    }


}
