

@font-face {
    font-family: 'Muller';
    src: url("./../fonts/Muller/MullerMedium.woff") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Muller';
    src: url("./../fonts/Muller/MullerLight.woff") format("truetype");
    font-style: normal;
    font-weight: 300;
}
  
@font-face {
    font-family: 'Muller';
    src: url("./../fonts/Muller/MullerRegular.woff") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Muller';
    src: url("./../fonts/Muller/MullerUltraLight.woff") format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url("./../fonts/Muller/Roboto-Regular.woff") format("truetype");
    font-style: normal;
    font-weight: 400;
}
  
