@font-face {
    font-family: 'Muller';
    src: url("./../fonts/MullerBold.woff") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Muller';
    src: url("./../fonts/MullerMedium.woff") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Muller';
    src: url("./../fonts/MullerLight.woff") format("truetype");
    font-style: normal;
    font-weight: 300;
}
  
@font-face {
    font-family: 'Muller';
    src: url("./../fonts/MullerRegular.woff") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Muller';
    src: url("./../fonts/MullerUltraLight.woff") format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url("./../fonts/Roboto-Regular.woff") format("truetype");
    font-style: normal;
    font-weight: 400;
}
  
