@import 'media';
@import 'mixins';
@import 'root';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//Базовые стили body
body {
  @extend %scrollbar;
  font-family: $mainFont;
  color: $mainColor;
  cursor: default;
}
section {
  position: relative;
}
//Создание базовых стилей для основных тегов
h1 {
}
h2 {
}
h3 {
}
h4 {
}
p {
}
span {
}
a {
  color: $mainColor;
  display: inline-block;
  text-decoration: none;
}
svg {
  min-height: 1rem;
}
img {
  width: 100%;
  height: auto;
}

blockquote {
}

::-webkit-scrollbar {
  height: 5px;
  width: 4px;
  background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:horizontal {
  background: #000;
  border-radius: 10px;
}

.bringModalToTop {
  z-index: 998 !important;
}

// html *::-webkit-scrollbar {
//     height: 3px;
//     width: 3px;
//   }
//   *::-webkit-scrollbar-track,
//   html *::-webkit-scrollbar-track {
//     background: rgb(255, 255, 255);
//   }
//   *::-webkit-scrollbar-thumb,
//   html *::-webkit-scrollbar-thumb {
//     background-color: rgb(0, 0, 0);
//     border-radius: 4px;
//     border: 2px solid rgb(255, 255, 255);
//   }
// убирает цвет автокомплита у инпута
input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    font-size: 1rem;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

textarea,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  outline: none;

  &[disabled] {
    cursor: default;
    opacity: 0.7;
  }
}
button {
  cursor: pointer;
}

.carousel-item {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.controls {
  opacity: 0;
  transition: all 0.3s ease;
}

.control {
  &-arrow {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: 50%;

    @media (max-width: 523px) {
      top: calc(50% - 25px);
    }
  }
  &-next {
    border-left: 7px solid $mainColor;
    right: 6px;
  }
  &-prev {
    border-right: 7px solid $mainColor;
    left: 6px;
  }
}

//Стандартный враппер

/* для Chrome/Edge/Safari */
