<!-- section "about" start -->
<section class="about">
    <input type="radio" id="about__property" class="about__radio--property" name="about__radio" checked>
    <input type="radio" id="about__description" class="about__radio--description" name="about__radio">
    <input type="radio" id="about__info" class="about__radio--info" name="about__radio">

    <div class="about__list">


        <div class="about__item about__item--property">
            <button type="button" class="about__item-btn about__item-btn--property"></button>
            <label for="about__property" class="about__button about__button--property">Характеристики</label>
        </div>
        <div class="about__item about__item--description">
            <button type="button" class="about__item-btn about__item-btn--description"></button>
            <label for="about__description" class="about__button about__button--description">Описание</label>
        </div>
        <div class="about__item about__item--info">
            <button type="button" class="about__item-btn about__item-btn--info"></button>
            <label for="about__info" class="about__button about__button--info">Информация</label>
        </div>

         <!-- about__property start -->
         <div class="about__property">

            <div class="about__property-column">
                <div class="about__property-row">
                    <span class="about__property-name">
                        Металл:
                    </span>
                    <span class="about__property-value">
                        Золото Au 585
                    </span>
                </div>
                <div class="about__property-row">
                    <span class="about__property-name">
                        Цвет металла:
                    </span>
                    <span class="about__property-value">
                        Белый
                    </span>
                </div>
                <div class="about__property-row">
                    <span class="about__property-name">
                        Средний вес:
                    </span>
                    <span class="about__property-value">
                        2.1 г.
                    </span>
                </div>
                <div class="about__property-row">
                    <span class="about__property-name">
                        Коллекция:
                    </span>
                    <span class="about__property-value">
                        New York
                    </span>
                </div>
                <div class="about__property-row">
                    <span class="about__property-name">
                        Бренд:
                    </span>
                    <span class="about__property-value">
                        Бронницкий ювелир
                    </span>
                </div>


                <div class="about__property-row about__property-row--mobile">
                    <span class="about__property-name">
                        Вставка:
                    </span>
                    <span class="about__property-value">
                        Бриллиант
                    </span>
                    <button type="button" class="about__item-btn about__item-btn--additional">
                        
                    </button>
                </div>
            </div>

        

            <div class="about__property-column about__property-column--additional">
                <span class="about__property-caption ">
                    Вставка:
                </span>

                <div class="about__additional-property">

                    <div class="about__property-row--additional">
                        <span class="about__property-info">
                            Бриллиант
                        </span>
                        <span class="about__property-value">
                            20 шт.
                        </span>
                    </div>

                    <div class="about__property-row--additional">
                        <span class="about__property-info">
                            Карат
                        </span>
                        <span class="about__property-value">
                            1.92
                        </span>
                    </div>

                    <div class="about__property-row--additional">
                        <span class="about__property-info">
                            Группа цвета
                        </span>
                        <span class="about__property-value">
                            3
                        </span>
                    </div>

                    <div class="about__property-row--additional">
                        <span class="about__property-info">
                            Чистота
                        </span>
                        <span class="about__property-value">
                            6
                        </span>
                    </div>

                    <div class="about__property-row--additional">
                        <span class="about__property-info">
                            Кол-во граней
                        </span>
                        <span class="about__property-value">
                            57
                        </span>
                    </div>

                    <div class="about__property-row--additional">
                        <span class="about__property-info">
                            Огранка
                        </span>
                        <span class="about__property-value">
                            Круглая
                        </span>
                    </div>

                </div>

            </div>

        </div>
        <!-- about__property end -->

        <!-- about__description start -->
        <div class="about__description">
            <div class="about__description-column">
                <span class="about__description-text">
                    Роскошное кольцо из белого золота с дорожкой из сияющих бриллиантов станет прекрасным
                    подарком любимой женщине. Классический дизайн украшения универсален – его можно сочетать с
                    любым образом. Утонченная форма кольца и мерцающий свет бриллиантов будут приковывать
                    восхищенные взгляды к своей неотразимой владелице!
                </span>
                <span class="about__description-text">
                    В интернет-магазине «Бронницкий ювелир» Вы можете купить украшения для себя, друзей и
                    близких. В нашем каталоге находятся качественные фотографии ювелирных изделий и их детальные
                    характеристики.
                </span>
            </div>

            <div class="about__description-column">
                <span class="about__description-text">
                    Нужна помощь с выбором? Наши менеджеры Вам с удовольствием помогут! Позвонить в
                    интернет-магазин можно по номеру 8 800 555 25 65.Наша компания продает готовые украшения,
                    поэтому цены на изделия зависят не только от веса золота, но и других факторов, таких как:
                    наличие камней-вставок, их характеристики, общий размер изделия, каким типом производства
                    украшения были изготовлены - ручным или автоматным.
                </span>
                <span class="about__description-text">
                    По действующему постановлению Правительства РФ от 19.01.98 №55 обмен и возврат ювелирных
                    изделий надлежащего качества не производится.
                </span>
            </div>
        </div>
        <!-- about__description end -->

        <!-- about__info start -->
        <div class="about__info">
            <div class="about__info-column">
                <a class="about__info-link about__info-link--delivery" href="#">Доставка</a>
                <a class="about__info-link about__info-link--payment" href="#">Информация по оплате</a>
                <a class="about__info-link about__info-link--take" href="#">Забрать в салоне</a>
            </div>
            <div class="about__info-column">
                <a class="about__info-link about__info-link--callback" href="#">заказать звонок</a>
                <a class="about__info-link about__info-link--phone" href="#">8 800 555 25 65</a>
            </div>
        </div>
        <!-- about__info end -->
    </div>

    <div class="about__wrapper">

       

    </div>

</section>
<!-- section "about" end -->
<script>
    let additionalButton = document.querySelector('.about__item-btn--additional');
    let additionalColumn = document.querySelector('.about__property-column--additional');
    let additionalMobileRow = document.querySelector('.about__property-row--mobile');

    let radioProperty = document.querySelector('.about__radio--property');
    let buttonProperty = document.querySelector('.about__item-btn--property');

    let radioDescription = document.querySelector('.about__radio--description');
    let buttonDescription = document.querySelector('.about__item-btn--description');
    
    let radioInfo = document.querySelector('.about__radio--info');
    let buttonInfo = document.querySelector('.about__item-btn--info');
    

    buttonProperty.addEventListener('click', ()=> {
        radioProperty.checked = !radioProperty.checked
    })

    buttonDescription.addEventListener('click', ()=> {
        radioDescription.checked = !radioDescription.checked
    })

    buttonInfo.addEventListener('click', ()=> {
        radioInfo.checked = !radioInfo.checked
    })
    
    
    additionalButton.addEventListener('click', ()=> {
      
        additionalMobileRow.classList.toggle('about__additional-open');
        additionalColumn.classList.toggle('open');
    })
</script>
