<!-- section "about" start -->
<section class="about">
    <input type="radio" id="about__property" class="about__radio--property" name="about__radio" checked>
    <input type="radio" id="about__description" class="about__radio--description" name="about__radio">
    <input type="radio" id="about__info" class="about__radio--info" name="about__radio">

    <ul class="about__list">
        <li class="about__item">
            <label for="about__property" class="about__button about__button--property">Характеристики</label>
        </li>
        <li class="about__item">
            <label for="about__description" class="about__button about__button--description">Описание</label>
        </li>
        <li class="about__item">
            <label for="about__info" class="about__button about__button--info">Информация</label>
        </li>
    </ul>

    <div class="about__wrapper">

        <!-- about__property start -->
        <div class="about__property">

            <div class="about__property-column">
                <div class="about__property-row">
                    <p class="about__propery-name">
                        Металл:
                    </p>
                    <p class="about__propery-value">
                        Золото Au 585
                    </p>
                </div>
                <div class="about__property-row">
                    <p class="about__propery-name">
                        Цвет металла:
                    </p>
                    <p class="about__propery-value">
                        Белый
                    </p>
                </div>
                <div class="about__property-row">
                    <p class="about__propery-name">
                        Средний вес:
                    </p>
                    <p class="about__propery-value">
                        2.1 г.
                    </p>
                </div>
                <div class="about__property-row">
                    <p class="about__propery-name">
                        Коллекция:
                    </p>
                    <p class="about__propery-value">
                        New York
                    </p>
                </div>
                <div class="about__property-row">
                    <p class="about__propery-name">
                        Бренд:
                    </p>
                    <p class="about__propery-value">
                        Бронницкий ювелир
                    </p>
                </div>
            </div>

            <div class="about__property-column about__property-column--additional">
                <p class="about__property-caption">
                    Вставка:
                </p>

                <div class="about__additional-property">

                    <div class="about__property-row--additional">
                        <p class="about__property-info">
                            Бриллиант
                        </p>
                        <p class="about__property-value">
                            20 шт.
                        </p>
                    </div>

                    <div class="about__property-row--additional">
                        <p class="about__property-info">
                            Карат
                        </p>
                        <p class="about__property-value">
                            1.92
                        </p>
                    </div>

                    <div class="about__property-row--additional">
                        <p class="about__property-info">
                            Группа цвета
                        </p>
                        <p class="about__property-value">
                            3
                        </p>
                    </div>

                    <div class="about__property-row--additional">
                        <p class="about__property-info">
                            Чистота
                        </p>
                        <p class="about__property-value">
                            6
                        </p>
                    </div>

                    <div class="about__property-row--additional">
                        <p class="about__property-info">
                            Кол-во граней
                        </p>
                        <p class="about__property-value">
                            57
                        </p>
                    </div>

                    <div class="about__property-row--additional">
                        <p class="about__property-info">
                            Огранка
                        </p>
                        <p class="about__property-value">
                            Круглая
                        </p>
                    </div>

                </div>

            </div>

        </div>
        <!-- about__property end -->

        <!-- about__description start -->
        <div class="about__description">
            <div class="about__description-column">
                <p class="about__description-text">
                    Роскошное кольцо из белого золота с дорожкой из сияющих бриллиантов станет прекрасным
                    подарком любимой женщине. Классический дизайн украшения универсален – его можно сочетать с
                    любым образом. Утонченная форма кольца и мерцающий свет бриллиантов будут приковывать
                    восхищенные взгляды к своей неотразимой владелице!
                </p>
                <p class="about__description-text">
                    В интернет-магазине «Бронницкий ювелир» Вы можете купить украшения для себя, друзей и
                    близких. В нашем каталоге находятся качественные фотографии ювелирных изделий и их детальные
                    характеристики.
                </p>
            </div>

            <div class="about__description-column">
                <p class="about__description-text">
                    Нужна помощь с выбором? Наши менеджеры Вам с удовольствием помогут! Позвонить в
                    интернет-магазин можно по номеру 8 800 555 25 65.Наша компания продает готовые украшения,
                    поэтому цены на изделия зависят не только от веса золота, но и других факторов, таких как:
                    наличие камней-вставок, их характеристики, общий размер изделия, каким типом производства
                    украшения были изготовлены - ручным или автоматным.
                </p>
                <p class="about__description-text">
                    По действующему постановлению Правительства РФ от 19.01.98 №55 обмен и возврат ювелирных
                    изделий надлежащего качества не производится.
                </p>
            </div>
        </div>
        <!-- about__description end -->

        <!-- about__info start -->
        <div class="about__info">
            <div class="about__info-column">
                <a class="about__info-link about__info-link--delivery" href="#">Доставка</a>
                <a class="about__info-link about__info-link--payment" href="#">Информация по оплате</a>
                <a class="about__info-link about__info-link--take" href="#">Забрать в салоне</a>
            </div>
            <div class="about__info-column">
                <a class="about__info-link about__info-link--callback" href="#">заказать звонок</a>
                <a class="about__info-link about__info-link--phone" href="#">8 800 555 25 65</a>
            </div>
        </div>
        <!-- about__info end -->

    </div>

</section>
<!-- section "about" end -->