


<header class="header">

    <!-- container header__top-line start -->
    <div class="header__top-line">


        <!-- container header__top-wrapper start -->

        <div class="container header__top-wrapper">

            <!-- header__table-burger start -->
            <div class="header__table-burger table_burger burger-close">
                <button class="header-mobile__burger-btn">
                </button>
            </div>
            <!-- header__table-burger end -->

            <!-- header__top-left start -->
            <ul class="header__top-left">
                <li class="js-drop-down">
                    <a href="#" class="header__top-left_item header__location" data-location_btn="">
                        <span>Москва</span>
                    </a>
                </li>
                <li class="js-drop-down header__customers">
                    <a href="#" class="header__top-left_item ">Покупателям</a>
                    <ul class="drop-down-list menu-top__drop drop-menu">
                        <li>
                            <a class="link drop-menu" href="/delivery/">Доставка и оплата</a>
                        </li>
                        <li>
                          <a class="link drop-menu" href="/catalog/podarochnye-sertifikaty/">Сертификаты</a>
                        </li>
                        <li>
                          <a class="link drop-menu" href="/company/salons/">Найти салон</a>
                        </li>
                    </ul>
                </li>
                <li class="js-drop-down">
                    <a href="http://job.bronnitsy.com/" class="header__top-left_item">
                        Карьера
                    </a>
                    
                </li>
                <li class="header__phone header__top">
                    <a href="tel:+78005552565" class="header__top-left_item header__phone">
                        8 800 555 25 65
                    </a>
                </li>
            </ul>
            <!-- header__top-left end -->

            <!-- header__top-center start -->
            <div class="header__top-center">
                <a href="/" class="header__main-logo">
                    <img src="./../img/main-logo.png" alt="Бронницкий ювелир">
                </a>
            </div>
            <!-- header__top-center end -->

            <!-- header__top-right start -->
            <div class="header__top-right">
                <a class="header__links-item header__links-item--icon-whishlist" href="/personal/wishlist">
                </a>
                <a class="header__links-item header__links-item--icon-profile" href="#">
                </a>
                <a href="/personal/cart/" class="header__links-item header__links-item--icon-basket">
                </a>
            </div>
            <!-- Header__top-right end -->

        </div>
        <!-- container header__top-wrapper end -->

    </div>
    <!-- container header__top-line end -->



    <!-- header__wrapper start -->
    <div class="header__wrapper">

        <!-- header__bottom start -->
        <div class="header__bottom">
            <nav class="header__top-menu top-menu">
                <ul class="top-menu__list">
                    <li class="top-menu__item top-menu__item--selected">
                        <a href="/catalog/" class="top-menu__link">
                            Ювелирные украшения
                        </a>
                    </li>
                    <li class="top-menu__item">
                        <a href="/promo/collections/" class="top-menu__link">
                            Коллекции
                        </a>
                    </li>
                    <li class="top-menu__item">
                        <a href="/na-zakaz/" class="top-menu__link">
                            Ателье
                        </a>
                    </li>
                    <li class="top-menu__item">
                        <a href="/na-zakaz/" class="top-menu__link">
                            Новинки
                        </a>
                    </li>
                    <li class="top-menu__item">
                        <a href="/na-zakaz/" class="top-menu__link">
                            Акции
                        </a>
                    </li>
                    <li class="top-menu__item">
                        <a href="/na-zakaz/" class="top-menu__link">
                            Grusha
                        </a>
                    </li>
                    <li class="top-menu__item">
                        <a href="/na-zakaz/" class="top-menu__link">
                            sale
                        </a>
                    </li>
                </ul>
            </nav>

            <form class="header__search form-search" action="/catalog/">
                <input type="text" class="form-search__input" autocomplete="off" data-autocomplete="">
                <button class="form-search__submit" type="submit" title="найти"></button>
                <div class="autocomplete-search"></div>
            </form>

        </div>
        <!-- header__bottom end -->

    </div>
    <!-- header__wrapper end -->

</header>


    