<section class="include">
    <div class="include__list">
        <div class="include__item">
            <img class="include__item-picture" src="#" alt="Фото">
            <p class="include__item-title">Кольцо с бриллиантами</p>
            <div class="include__item-info">
                <span class="include__info-name">Белое золото</span>
                <span class="include__info-name">Au 585</span>
                <span class="include__info-name">Бриллиант 2,15 г.</span>
            </div>
            <div class="include__item-price">
                <del class="include__item-price--old">165 290</del>
                <span class="include__item-price--new">165 290</span>
            </div>


        </div>
    </div>

    <div class="include__list">
        <div class="include__item">
            <img class="include__item-picture" src="#" alt="Фото">
            <p class="include__item-title">Кольцо с бриллиантами</p>
            <div class="include__item-info">
                <span class="include__info-name">Белое золото</span>
                <span class="include__info-name">Au 585</span>
                <span class="include__info-name">Бриллиант 2,15 г.</span>
            </div>
            <div class="include__item-price">
                <del class="include__item-price--old">165 290</del>
                <span class="include__item-price--new">165 290</span>
            </div>


        </div>
    </div>


</section>