<section class="modal">
    <div class="modal__wrapper">

    </div>
    <div class="salon__modal">
        <div class="salon">
            <!-- <button type="button" class="salon__close"> </button> -->
            <input type="radio" id="salon-location" class="salon__radio salon__radio--location" name="salon" checked>
            <input type="radio" id="salon-map" class="salon__radio salon__radio--map" name="salon">
    
            <label class="salon__label salon__label--location" for="salon-location">
                <button  type="button" class="salon__btn salon__btn--location"></button>
                <span>Выбрать из списка</span> </label>
            <label class="salon__label salon__label--map" for="salon-map">
                <button  type="button" class="salon__btn salon__btn--map"></button>
                <span>выбрать на карте</span>  </label>
    
            
            <div class="salon__col--mobile salon__col--location salon__col--location--mobile">
    
    
                <ul class="salon__list">
                    <li class="salon__item">
                        <p class="salon__title">ТРЦ РИО Коломна</p>
                        <span class="salon__address">Московская область, ул. Октябрьской революции, д.362 </span>
                        <span class="salon__time">Ежедневно с 10:00 до 20:00</span>
                    </li>
                    <li class="salon__item">
                        <p class="salon__title">Outlet Village Белая Дача</p>
                        <ul class="salon__address-list">
                            <li class="salon__address-list--item">Кузьминки</li>
                            <li class="salon__address-list--item">Котельники</li>
                            <li class="salon__address-list--item">Братиславская</li>
    
                        </ul>
    
                        <ul class="salon__address-list">
                            <li class="salon__address-list--item">/Кузьминки</li>
                        </ul>
                        <span class="salon__address">Московская область, ул. Октябрьской революции, д.362</span>
                    </li>
                    <li class="salon__item">
                        <p class="salon__title">Outlet Village Белая Дача</p>
                        <ul class="salon__address-list">
                            <li class="salon__address-list--item">Кузьминки</li>
                            <li class="salon__address-list--item">Котельники</li>
                            <li class="salon__address-list--item">Братиславская</li>
    
                        </ul>
    
                        <ul class="salon__address-list">
                            <li class="salon__address-list--item">/Кузьминки</li>
                        </ul>
                        <span class="salon__address">Московская область, ул. Октябрьской революции, д.362</span>
                    </li>
                    <li class="salon__item">
                        <p class="salon__title">Outlet Village Белая Дача</p>
                        <ul class="salon__address-list">
                            <li class="salon__address-list--item">Кузьминки</li>
                            <li class="salon__address-list--item">Котельники</li>
                            <li class="salon__address-list--item">Братиславская</li>
    
                        </ul>
    
                        <ul class="salon__address-list">
                            <li class="salon__address-list--item">/Кузьминки</li>
                        </ul>
                        <span class="salon__address">Московская область, ул. Октябрьской революции, д.362</span>
                    </li>
                    <li class="salon__item">
                        <p class="salon__title">Outlet Village Белая Дача</p>
                        <ul class="salon__address-list">
                            <li class="salon__address-list--item">Кузьминки</li>
                            <li class="salon__address-list--item">Котельники</li>
                            <li class="salon__address-list--item">Братиславская</li>
    
                        </ul>
    
                        <ul class="salon__address-list">
                            <li class="salon__address-list--item">/Кузьминки</li>
                        </ul>
                        <span class="salon__address">Московская область, ул. Октябрьской революции, д.362</span>
                    </li>
                </ul>
            </div>
    
            <div class="salon__col--mobile salon__col--location-map salon__col--map--mobile">
                <span class="salon__metro salon__metro--line">
                    Линия метро
                </span>
    
                <div class="selectboxss salon__metro__option">
                    <div class="selectboxssvalue"><span>Выбрать</span><img src="./../img/arrow.png" class="arrowselect" />
                    </div>
                    <ul class="selectboxssmenu">
                        <li class="selectoption"><span class="flag-ru"></span> Коломна</li>
                        <li class="selectoption"><span class="flag-en"></span> Котельники</li>
                        <li class="selectoption"><span class="flag-fr"></span> Братиславская</li>
                    </ul>
                </div>
    
                <span class="salon__metro salon__metro--station">
                    Станция метро
                </span>
    
                <div class="selectboxss salon__metro__option">
                    <div class="selectboxssvalue"><span>Выбрать</span><img src="./../img/arrow.png" class="arrowselect" />
                    </div>
                    <ul class="selectboxssmenu">
                        <li class="selectoption"><span class="flag-ru"></span> Коломна</li>
                        <li class="selectoption"><span class="flag-en"></span> Котельники</li>
                        <li class="selectoption"><span class="flag-fr"></span> Братиславская</li>
                    </ul>
                </div>
    
                <!-- option -->
    
                <a href="#" class="salon__auto">Определить салон автоматически</a>
                <div id="yandexMap-mobile" class="yandexMap-mobile"></div>
              
            </div>
    
            <div class="salon__col salon__col--location">
                <div>
                    <span class="salon__metro">
                        Линия метро
                    </span>
        
                    <!-- option start -->
                    <div class="selectboxss salon__metro__option">
                        <div class="selectboxssvalue"><span>Выбрать</span><img src="./../img/arrow.png" class="arrowselect" />
                        </div>
                        <ul class="selectboxssmenu">
                            <li class="selectoption"><span class="flag-ru"></span> 15</li>
                            <li class="selectoption"><span class="flag-en"></span> 16</li>
                            <li class="selectoption"><span class="flag-fr"></span> 17</li>
                            <li class="selectoption"><span class="flag-ru"></span> 18</li>
                            <li class="selectoption"><span class="flag-en"></span> 19</li>
                            <li class="selectoption"><span class="flag-fr"></span> 20</li>
                        </ul>
                    </div>
                    <!-- option end -->
        
                    <span class="salon__metro">
                        Станция метро
                    </span>
        
                    <!-- option start -->
                    <div class="selectboxss salon__metro__option">
                        <div class="selectboxssvalue"><span>Выбрать</span><img src="./../img/arrow.png" class="arrowselect" />
                        </div>
                        <ul class="selectboxssmenu">
                            <li class="selectoption"><span class="flag-ru"></span> Коломна</li>
                            <li class="selectoption"><span class="flag-en"></span> Котельники</li>
                            <li class="selectoption"><span class="flag-fr"></span> Братиславская</li>
                        </ul>
                    </div>
                </div>
      
    
    
                <!-- option end -->
    
                <a href="#" class="salon__auto">Определить салон автоматически</a>
    
                <span class="salon__list--title">Выберите из списка</span>
    
                <ul class="salon__list">
                    <li class="salon__item">
                        <p class="salon__title">ТРЦ РИО Коломна</p>
                        <span class="salon__address">Московская область, ул. Октябрьской революции, д.362 </span>
                        <span class="salon__time">Ежедневно с 10:00 до 20:00</span>
                    </li>
                    <li class="salon__item">
                        <p class="salon__title">Outlet Village Белая Дача</p>
                        <ul class="salon__address-list">
                            <li class="salon__address-list--item">Кузьминки</li>
                            <li class="salon__address-list--item">Котельники</li>
                            <li class="salon__address-list--item">Братиславская</li>
    
                        </ul>
    
                        <ul class="salon__address-list">
                            <li class="salon__address-list--item">/Кузьминки</li>
                        </ul>
                        <span class="salon__time">Московская область, ул. Октябрьской революции, д.362</span>
                    </li>
                </ul>
            </div>
    
            <div class="salon__col salon__col--location-map">
                <div id="yandexMap" class="yandexMap"></div>
               
    
            </div>
    
        </div>
    
    </div>
  


    <div class="modal modal__delivery">
        <div class="modal__window">
            <button class="modal__close modal__close--delivery"></button>
            <p class="modal__title">Информация о доставке</p>

            <div class="modal__text">
                <p class="modal__paragraph">
                    Доставка БЕСПЛАТНАЯ (в пределах МКАД и КАД), при сумме заказа от 4000 рублей.
                </p>
                <p class="modal__paragraph">
                    При сумме заказа до 4 000 рублей стоимость доставки в пределах МКАД и КАД составляет 250 рублей.
                </p>
                <p class="modal__paragraph">
                    Стоимость доставки за МКАД и КАД в пределах 10 км составляет 290 рублей.
                </p>
                <p class="modal__paragraph">
                    Доставка за МКАД и КАД дальше 10 км, а также в регионы России осуществляется курьерской службой
                    «Pony Express».
                    (Сроки и стоимость доставки уточняйте у наших менеджеров.)
                </p>
                <p class="modal__paragraph">
                    Заказы курьерской службой Pony Express доставляются только при 100% предоплате.
                </p>
                <p class="modal__paragraph">
                    Вы можете получить свой заказ в любом франчайзинговом салоне. Услуга БЕСПЛАТНАЯ при заказе от 4000
                    рублей.
                </p>
                <p class="modal__paragraph">
                    Вы можете получить свой заказ в любом франчайзинговом салоне. Услуга БЕСПЛАТНАЯ при заказе от 4000
                    рублей.
                </p>
                <p class="modal__paragraph">
                    Вы можете получить свой заказ в любом франчайзинговом салоне. Услуга БЕСПЛАТНАЯ при заказе от 4000
                    рублей.
                </p>
                <p class="modal__paragraph">
                    Если его сумма менее 4000 рублей, перемещение заказа в салон - 250 рублей.
                </p>
                <p class="modal__paragraph">
                    Вы можете заказать не более трех изделий на выбор при доставке по Москве и Санкт-Петербургу.
                </p>
            </div>
        </div>
    </div>


    <div class="modal modal__payment">
        <div class="modal__window">
            <button class="modal__close modal__close--payment"></button>
            <span class="modal__title">Информация по оплате</span>

            <div class="modal__text">
                <p class="modal__paragraph">
                    При сумме заказа до 4 000 рублей стоимость доставки в пределах МКАД и КАД составляет 250 рублей.
                </p>
                <p class="modal__paragraph">
                    Стоимость доставки за МКАД и КАД в пределах 10 км составляет 290 рублей.
                </p>
                <p class="modal__paragraph">
                    Доставка за МКАД и КАД дальше 10 км, а также в регионы России осуществляется курьерской службой
                    «Pony Express».
                    (Сроки и стоимость доставки уточняйте у наших менеджеров.)
                </p>
                <p class="modal__paragraph">
                    Заказы курьерской службой Pony Express доставляются только при 100% предоплате.
                </p>
                <p class="modal__paragraph">
                    Вы можете получить свой заказ в любом франчайзинговом салоне. Услуга БЕСПЛАТНАЯ при заказе от 4000
                    рублей.
                </p>
                <p class="modal__paragraph">
                    Вы можете получить свой заказ в любом франчайзинговом салоне. Услуга БЕСПЛАТНАЯ при заказе от 4000
                    рублей.
                </p>
                <p class="modal__paragraph">
                    Если его сумма менее 4000 рублей, перемещение заказа в салон - 250 рублей.
                </p>
                <p class="modal__paragraph">
                    Вы можете заказать не более трех изделий на выбор при доставке по Москве и Санкт-Петербургу.
                </p>
            </div>
        </div>
    </div>

    <div class="modal__callback">
        <div class="modal__callback-window">
            <span class="modal__callback-title">Заказать обратный звонок</span>
            <button class="modal__close modal__close--callback"></button>
    
    
            <form action="">
                <input type="text" class="modal-card__input modal-card__input--callback" name="name" placeholder="Ваше имя">
                <input type="text" class="modal-card__input modal-card__input--callback" name="phone" placeholder="Телефон">
                <input type="button" class="modal-card__send-button" value="Перезвонить мне">
            </form>
            <a href="#" class="modal-card__offerta">
                Нажимая на кнопку «Перезвонить мне», 
                <span class="modal-card__offerta--link">я даю согласие на обработку персональных данных</span> 
            </a>
            </form>
        </div>
       
    </div>


</section>